.home {
    display:flex;
    justify-content:center;
    margin-left: auto;
    margin-right:auto;
    max-width:1500px;
  }

  .home_row{
    display:flex;
    z-index:1;
    margin-left:5px;
    margin-right:5px;
    
}


.home_image{
    width:100%;
    z-index:-1;
    margin-top:-275px;
    margin-bottom:-275px;
    background-color: black;
    mask-image:linear-gradient(to bottom,rgba(350,0,345,1),rgba(0,0,0,0));

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  padding: 10px;
  margin-left: -3.5em;

}